
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* 移动端样式 */
@media screen and (max-width: 767px) {
  html, body {
    max-width: 767px; /* 移动端最大宽度 */
    min-width: 375px; /* 移动端最小高度 */
    height: 100%; /* 移动端高度 */
    margin: 0 auto; /* 居中显示 */
    overflow: hidden; /* 防止滚动 */
  }
}

/* PC 端样式 */
@media screen and (min-width: 768px) {
  html, body {
    width: 430px; /* PC端宽度 */
    height: 100%; /* PC端高度 */
    margin: 0 auto; /* 居中显示 */
    overflow: hidden; /* 防止滚动 */
    background-color: #000; /* 背景颜色，可根据需要调整 */
  }
}

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
